{% extends 'base.html' %}{% block content%}
<div class="container h5 text-dark">
  <p>
    Have you ever wanted to beat your friends in a competition, but you didn't
    know how to accurately keep track of everyone's scores? You're definitely
    not the only one.
  </p>

  <p>
    Here on this competition site you can create a user, link together with
    friends in a specific competition, and manage your points based on daily
    task completion. Whether you want to track workout consistency or daily
    scripture reading, our platform provides a one-stop shop for all competition
    seekers.
  </p>

  <p>Challenge your friends and family and see who comes out on top!</p>
</div>
{% endblock %}
