{% extends 'base.html' %}{% block content%}
<div class="ml-4 mt-1">
  <h1>Create Competition</h1>
  <h3>{{competitionData.name}}</h3>
  <div class="text-center mt-5">
    <div>
      <form
        name="new_competition"
        method="post"
        action="{% url 'add_new_competition' %}"
        style="max-width: 300px; margin: 0 auto"
      >
        {% csrf_token %}
        <label for="comp_name">Name</label>
        <input
          type="text"
          class="form-control text-center"
          name="comp_name"
          id="comp_name"
        />
        <br />
        <label for="comp_description">Description</label>
        <textarea
          class="form-control"
          name="comp_description"
          id="comp_description"
        ></textarea>
        <br />
        <label for="comp_points">Points for Finishing</label>
        <input
          type="text"
          class="form-control text-center"
          name="comp_points"
          id="comp_points"
        />
        <br />
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
