{% extends 'base.html' %}{% block content%}
<div class="ml-4 mt-1">
  <h1>Create Competition</h1>
  <div class="text-center mt-5">
    <!-- Insert form here -->
  </div>
</div>
<div class="w-75 mx-auto">
  <form action="{% url 'create_competition' %}" method="post">
    {% csrf_token %}
    <label class="form-label" for="competition_name"
      >What is the name of the competition?</label
    >
    <input
      class="form-control"
      id="competition_name"
      type="text"
      name="competition_name"
    />

    <label class="form-label" for="competition_description"
      >What is the description of the competition?</label
    >
    <input
      id="competition_description"
      class="form-control"
      type="text"
      name="competition_description"
    />

    <label class="form-label" for="competition_points"
      >How much will the daily task be worth?</label
    >
    <input
      id="competition_points"
      class="form-control mb-3"
      type="number"
      step="10"
      min="10"
      name="competition_points"
    />

    <label class="form-select" multiple aria-label="multiple select example"
      >What category is this competition under?</label
    >
    <option selected>Open this select menu</option>
    <select
      name="competition_category"
      class="form-control mb-3"
      name="competition_categories"
      id="competition_categories"
    >
      {% for category in competition_categories %}
      <option value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select>

    <input class="btn btn-primary" type="submit" value="Save" />
  </form>
</div>
{% endblock %}
