{% extends 'base.html' %} {% block content %}

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Create New Group</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <form action="/create_group/" method="post">
            <label for="group_name">Enter name: </label>
            <input id="group_name" type="text" name="name_field" value="Default name for group.">
            <input type="submit" value="OK">
        </form>
    </div>


    <div class="mx-auto d-flex flex-row justify-content-center">
        <div class="col-auto">
            <button class="btn btn-primary" type="submit" onclick="location.href = '{% url 'create_competition' %}'">
                <i class="fas fa-plus text-gray-300"></i> New Competition
            </button>
        </div>
    </div>
    <!-- 
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Daily Tasks</h1>
    </div> -->

    <!-- End of Main Content -->
</div>
{% endblock %}