{% extends 'base-nonav.html' %}{% block content %}
<style>
  input {
    background: #e3e3e3;
    border: none;
    font-weight: 1.25em;
    padding: 10px 5px;
    border-radius: 5px;
  }

  input:focus {
    background: #d0d0d0;
    outline: none;
  }

  ul {
    list-style: none;
  }

  ul li {
    margin: 0;
  }

  ul.errorlist.nonfield {
    margin: 15px 0;
    padding: 0;
  }

  a {
    color: #4e73df;
  }
</style>
<div
  class="w-100 vh-100 bg-primary d-flex align-items-center justify-content-center"
>
  <div class="bg-light w-75 rounded p-4 text-center shadow-lg">
    <h1 class="mb-4">Create Profile</h1>
    <form method="post" class="d-flex flex-column align-items-center">
      {% csrf_token %} {{form.as_p}}
      <button type="submit" class="btn btn-primary mb-2">Create Profile</button>
    </form>
  </div>
</div>
{% endblock %}
